.wrapSuccessMsg{
  display: flex;
  flex-direction: column;
  z-index: 99;
  position: absolute;
  background-color: rgba(182, 205, 224, 0.855);
  width: 40%;
  min-height: 10rem;
  padding: 1rem;
  border-radius: 5px;
  min-width: 244px;
  max-width: 360px;
}

.wrapSuccessMsg span{
  hyphens: auto;
  letter-spacing: .3px;
  font-weight: 500;
  color: blue;
  padding: 5px;
  border-radius: 3px;
}

.wrapIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.wrapIcon button{
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.wrapIcon svg{
  height: 2rem;
  width: 1.5rem;
  cursor: pointer;
  color: blue;
  transition: var(--transition);
}

.wrapSuccessMsg svg:hover{
  transition: var(--transition);
  color: rgba(70, 70, 230, 0.651);
}

@media screen and (max-width: 260px){
  .wrapSuccessMsg{
    min-width: 10rem;
  }
}