.wrapSuccessMsg{
  display: flex;
  flex-direction: column;
  z-index: 99;
  position: absolute;
  width: 40%;
  min-height: 10rem;
  padding: 1rem;
  min-width: 244px;
  max-width: 360px;
  border: 1px solid var(--colorPrimary);
  background-color: rgba(243, 250, 255, 0.914);
  border-radius: 5px;
  font-size: var(--fontSizeText);
}

.wrapSuccessMsg span{
  hyphens: auto;
  letter-spacing: .3px;
  font-weight: 500;
  color: var(--colorPrimary);
  padding: 5px;
  border-radius: 3px;
  line-height: var(--lineHeight);
}

.wrapIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.wrapIcon button{
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.wrapIcon svg{
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: rgba(4, 195, 125, 0.664);
  transition: var(--transition);
  margin: 1rem;
  background-color: white;
  padding: .5rem;
  border-radius: 50% 50%;
  border: 1px solid rgba(4, 195, 125, 0.664);
}

.wrapSuccessMsg svg:hover{
  transition: var(--transition);
  color: white;
  border: 1px solid white;
  background-color: rgba(4, 195, 125, 0.664);
}

@media screen and (max-width: 260px){
  .wrapSuccessMsg{
    min-width: 10rem;
  }
}