.spinner {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  display: inline-block;
  border: 2px solid  var(--colorPrimaryHover);
  border-top-color: rgba(179, 210, 246, 0.793);
  border-right-color: rgba(179, 210, 246, 0.793);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 290px){
  .spinnerLogin{
  position: absolute;
  margin-top: 13rem;
}
}