.header{
  display: flex;
  justify-content: center;
  color: var(--colorPrimary);
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--colorPrimary);
}

.block{
  display: flex;
  align-items: center;
  width: 33.333%;
}

.leftBlock{
  padding-left: 4rem;
}

.centerBlock{
  justify-content: center;
}

.centerBlock h1{
  font-size: 18px;
  font-weight: bolder;
}

.rightBlock{
  justify-content: right;
  padding-right: 4rem;
}

.closeIcon{
  cursor: pointer;
  transition: .2s;
}

.closeIcon:hover{
  transition: .2s;
  color: var(--colorPrimaryHover);
}

.leftBlock svg{
  width: var(--sizeIcon);
  height: var(--sizeIcon);
}

.rightBlock svg{
  width: var(--sizeIcon);
  height: var(--sizeIcon);
}

@media screen and (max-width: 600px){
  .leftBlock{
    padding-left: 1rem;
  }
  .rightBlock{
    padding-right: 1rem;
  }
}

@media screen and (max-width: 250px){
  .centerBlock{
    display: none;
  }
}