.buttonSkipPresentation{
  cursor: pointer;
  color: var(--colorPrimary);
  border: none;
  margin-bottom: .5rem;
  transition: var(--transition);
  padding: .2rem;
}

.buttonSkipPresentation:hover{
  transition: var(--transition);
  color: var(--colorPrimaryHover);
}

.wrapSkipAndCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}