.main{
  position: relative;
  color: var(--colorPrimary);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: var(--paddingMain);
}

.boasVindas{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  border-radius: 5px;
  color: var(--colorText);
  font-size: var(--fontSizeText);
  font-weight: 600;
}

.videoBlock{
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 2rem 0;
}

.videoBlock iframe{
  width: 450px;
  min-width: 7rem;
  height: 280px;
  border-radius: 5px;
}

.wrapSpecialties{
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--colorText);
  border-top: 1px solid rgb(14, 91, 180);
}

.wrapSpecialties h2{
  font-size: var(--fontSizePrimary);
  margin-bottom: 1rem;
}

.wrapSpecialties svg{
  color: var(--colorPrimary);
  height: 8rem;
  width: 8rem;
}

.blockSpecialt{
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.blockSpecialtCenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blockSpecialtCenter svg{
  height: 1.5rem;
}

.circle{
  display: flex;
  font-size: var(--fontSizeText);
  font-weight: 500;
  margin-bottom: 2rem;
}

.FontAweEl{
  width: 10px;
  height: 10px;
  margin-right: .5rem;
}

.circle svg{
  width: 6px;
  height: 6px;
}

.link{
  margin-left: 0.3rem;
  color:var(--colorPrimary);
}

.link:visited{
  color: var(--colorPrimary);
}

.contato{
  margin: 2rem auto ;
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.iconContato{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContato svg{
  width: var(--sizeIcon);
  height: var(--sizeIcon);
  cursor: pointer;
}

.iconContato svg:hover{
  color: var(--colorPrimaryHover);
}

@media screen and (max-width: 600px){
  .main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}