.spanNone{
  display: none;
}

.secTop{
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  color: var(--purpleBlue);
  font-weight: 700;
}

.wrapTopElements{
  background: linear-gradient(to top, rgba(162, 213, 250, 0), rgb(213, 213, 213));
}

.containerWrapDeveloper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-radius: 5px;
}

.wrapDeveloper{
  display: flex;
  flex-direction: column;
  width: 23%;
  height: fit-content;
}

.wrapDeveloperLast{
  border-right: none;
}

.wrapDeveloper{
  hyphens: auto;
}

.wrapDeveloper span{
  hyphens: auto;
  text-align: center;
  font-size: 14px;
  min-height: 3rem;
  width: fit-content;
  margin: auto;
  padding: .3rem;
  border-radius: 10px;
}

.wrapIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  width: 4.3rem;
  border: 1px solid var(--purpleBlue);
  background-color: var(--purpleBlue);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin: auto;
  color: white;
}

.wrapIcon svg{
  width: 30px;
  height: 30px;
}

.wrapDeveloperFirst{
  font-size: 13px;
}

.wrapDeveloperFirst svg{
  width: 17px;
  height: 17px;
  margin-right: .2rem;
}

.wrapDeveloperLast svg{
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 800px){
  .containerWrapDeveloper{
    height: fit-content;
  }

  .wrapDeveloper span{
    display: none;
  }

  .spanNone{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    hyphens: auto;
    text-align: center;
    padding: .5rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
  }
}

@media screen and (max-width: 750px){
  .wrapDeveloper svg{
    width: 22px;
    height: 22px;
  }

  .wrapDeveloperFirst{
    font-size: 11px;
  }

  .wrapDeveloperFirst svg{
    width: 13px;
  }

  .wrapDeveloperLast svg{
    width: 15px;
  }

  .wrapIcon{
    width: 3.5rem;
    height: 2.5rem;
  }

  .iconHtml{
    margin-right: .1rem;
  }
}

@media screen and (max-width: 400px){
  .spanNone{
    font-size: 15px;
  }

  .wrapIcon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--purpleBlue);
  }

  .wrapDeveloper{
    width: auto;
  }

  .wrapIcon svg{
    color: var(--purpleBlue);
  }

  .wrapIcon svg{
    height: 2rem;
    width: 2rem;
  }

  .wrapDeveloperFirst svg{
    height: 1.3rem;
    width: 1.3rem;
  }

  .wrapDeveloperLast svg{
    height: 1.3rem;
    width: 1.3rem;
  }
}

@media screen and (max-width: 285px){
  .containerWrapDeveloper{
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 168px){
  .wrapIcon{
    width: auto;
  }

  .wrapIcon svg{
    height: 1.4rem;
    width: 1.4rem;
    padding: .2rem;
  }

  .wrapDeveloperFirst{
    width: 100%;
  }

  .wrapDeveloperFirst svg{
    width: 1rem;
  }
}

