.wrapParagraphs{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--colorPrimary);
  color: var(--colorPrimary);
  background-color: rgba(243, 250, 255, 0.914);
  padding: 1rem;
  border-radius: 5px;
  margin: 0 1rem;
  font-size: var(--fontSizeText);
}

.paragraphBlock{
  min-height: 8rem;
  line-height: var(--lineHeight);
  text-align: justify;
}

.paragraphBlock p{
  max-width: 40rem;
  hyphens: auto;
  letter-spacing: var(--letterSpacingText);
}

.wrapButtons{
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
}

.buttonNextPage{
  margin-top: 1rem;
  padding: .4rem;
  max-width: 1.8rem;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  color: white;
  background-color: var(--colorPrimary);
  cursor: pointer;
  transition: var(--transition);
}

.buttonNextPage:hover{
  transition: var(--transition);;
  background-color: rgba(14, 92, 180, 0.693);
}

.wrapLink{
  padding-top: 1rem;
}

.wrapLink a{
  color: var(--purpleBlue);
  text-decoration: none;
  font-weight: bold;
}

.wrapLink a:hover{
  color: rgba(14, 92, 180, 0.693);
}

@media screen and (max-width: 250px){
  .wrapParagraphs{
    padding: .3rem;
    font-size: 14px;
  }
}