.card{
  width: 30%;
  min-width: 13rem;
  min-height: 5rem;
  margin-bottom: 1rem;
  color: rgb(37, 37, 135);
  font-size: var(--fontSizeText);
  padding: 0.5rem;
  text-align: justify;
  background-color: rgba(137, 172, 220, 0.811);
  border-radius: 5px;
}

.link{
  color:rgb(8, 76, 171);
}

.link:visited{
  color: rgb(8, 76, 171);
}