.card{
  width: 100%;
  min-height: 5rem;
  margin-bottom: 1rem;
  color: rgb(37, 37, 135);
  font-size: var(--fontSizeText);
  padding: 0.5rem;
  text-align: justify;
  background-color: rgba(137, 172, 220, 0.811);
  border-radius: 5px;
  hyphens: auto;
}

.card p{
  line-height: var(--lineHeight);
}

.card a{
  color: var(--fontSizeText);
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.3rem;
  width: 6.6rem;
}

.card a:hover{
  color: rgba(48, 89, 224, 0.81);
}

.link:visited{
  color: var(--fontSizeTex);
}

@media screen and (max-width: 170px){
  .card a{
    font-size: 12px;
  }
}