.foot{
  min-height: 80px;
  margin-top: auto;
  max-width: var(--maxWidthCentralize);
  color: var(--colorPrimary);
  border-top: 1px solid var(--colorPrimary);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footTitle{
  text-align: center;
}

.footTitle h2{
  font-size: var(--fontSizePrimary);
}

.copy{
  display: flex;
  margin-top: 4px;
  align-items: center;
}

.copy p{
  font-weight: bolder;
  font-size: var(--fontSizePrimary);
}

.copy svg{
  width: var(--sizeIcon);
  height: var(--sizeIcon);
  margin-left: 5px;
}