.foot{
  min-height: 120px;
  margin-top: auto;
  max-width: var(--maxWidthCentralize);
  color: var(--fontPrimary);
  border-top: 1px solid var(--fontPrimary);
  padding: 0.5rem;
  padding-top: 1rem;
}