.loginBlock{
  height: 20rem;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #3498db83, #ffffffa4);
  border-radius: 5px;
  box-shadow: 3px 2px 3px 2px rgba(72, 71, 71, 0.74);
}

.loginTitle{
  margin-bottom: 1rem;
}

.wrapInputs{
  display: flex;
  justify-content: space-between;
}

.wrapPassword{
  margin-left: 0.5rem;
}

.inputBlocks input{
  height: 2rem;
  width: 25%;
}